* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Antonio", sans-serif;
}

body {
    background-color: rgb(136, 145, 169);
}

/* ::-webkit-scrollbar {
    display: none;
} */

::-webkit-scrollbar {
    width: 5px;
    background-color: #222;
}

::-webkit-scrollbar-thumb {
    background-color: #666;
    border-radius: 10px;
}

.invert {
    filter: invert(1);
}

.hidden {
    display: none;
}

.logo-area {
    width: 100vw;
    height: 9vh;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    padding-top: 15px;
}

.logo-area * {
    cursor: pointer;
}

.logo img {
    width: 250px;
    filter: invert(1);

}

.logo2 h1 {
    color: white;
    font-weight: 1000;
}

.favourites {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 190px;
    margin-right: 10px;
}

.favourites h2 {
    color: white;
}

.main-container2 {
    width: 100vw;
    height: 91vh;
}

.background {
    width: 100%;
    height: 100%;
    background-image: url(../assets/wallpaper.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: blur(5px);
}

.over-main2 {
    position: absolute;
    top: 9%;
    width: 100vw;
    height: 91vh;
    background-color: rgba(22, 0, 0, 0.208);
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 40px 20px;
    flex-wrap: wrap;
    overflow: scroll;
    overflow-x: hidden;
}
.start {
    color: white;
    font-size: 40px;
    background-color: rgba(0, 0, 0, 0.564);
    border-radius: 20px;
    width: 90%;
    padding: 30px;
    text-align: center;
    box-shadow: rgb(255, 255, 255) 0px 2px 4px 0px, rgb(255, 255, 255) 0px 2px 16px 0px;
}

.fav-card {
    border: 1px solid white;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.564);
    color: white;
    border-radius: 20px;
    /* width: 20%; */
    width: 300px;
    display: flex;
    flex-direction: column;
}

.fav-card:hover {
    scale: 1.07;
    transition: all .4s ease-in-out;
    box-shadow: rgb(255, 255, 255) 0px 2px 4px 0px, rgb(255, 255, 255) 0px 2px 16px 0px;
}

.fav-card img {
    border-radius: 12px;
}

.card-details {
    max-width: 100%;
    padding: 10px;
}

.card-details h1 {
    text-align: center;
    overflow: hidden;
    height: 85px;
}

.card-details p {
    padding: 0px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    font-size: 15px;
    font-weight: 800;
}
.card-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card-buttons button {
    width: 100%;
    background-color: rgba(154, 154, 154, 0.373);
    color: white;
    border: none;
    margin: 5px 0px;
    padding: 10px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 15px;
    font-weight: 800;
    border-radius: 10px;
    cursor: pointer;
}
.card-buttons button:hover {
    scale: 1.03;
}

/* -------------- Below styling for more info page-------------------- */
.moreinfo-card {
    width: 80%;
    height: 98%;
    background-color: rgba(0, 0, 0, 0.564);
    border-radius: 25px;
    box-shadow: rgb(255, 255, 255) 0px 0px 20px 0px, rgb(255, 255, 255) 0px 0px 16px 0px;
    display: flex;

}

.img-and-description {
    height: 100%;
    width: 50%;
    /* background-color: aliceblue; */
    padding: 20px;
    /* border: 1px solid red; */
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    /* justify-content: space-; */
}
.img-and-description img {
    width: 55%;
    border-radius: 15px;
}
.name-and-desc {
    height: 50%;
}
.name-and-desc h1 {
    margin: 20px 0px;
}
.name-and-desc p {
    font-size: 23px;
}

.other-details {
    height: 100%;
    width: 50%;
    /* background-color: rgb(143, 196, 243); */
    padding: 20px;
}
.other-details table {
    /* border: 2px solid white; */
    width: 100%;
    height: 100%;
    text-align: center;
    color: white;
    font-size: 30px;
    font-weight: 600;
    border-spacing: 10px;
}
.other-details td {
    /* border: 2px solid white; */
    margin: 20px;
    background-color: rgba(80, 80, 80, 0.377);
    border-radius: 10px;
    
}

.go-back{
    color: white;
    padding: 50px;
    font-size: 50px;
}
.toggle-fav-btn {
    font-size: 28px;
    font-weight: 600;
    background-color: transparent;
    color: wheat;
    border: none;
    cursor: pointer;
}
.toggle-fav-btn:hover {
    scale: 1.1;
}
.toggle-fav-btn img {
    margin-right:10px;
}